
*.py

waf

tools

wscript

*.ld

include

lib

*.o

build/src/resource_ids.auto.h

*.pbi

*.table

*.log

*.pbpack

build/.lock-waf_darwin_build

build/.wafpickle-98

*.pyc

.lock-waf_darwin_build

build/pebble-app.bin

build/pebble-app.elf

build/pebble-app.map

build/pebble-app.raw.bin

build/resources/src/app_resources.pbpack.data

build/resources/src/app_resources.pbpack.manifest
